
//
// filter: blur
//


// @private blur `filter` function
// -----------------------------------------------------------------------------
// @param [number]: $radius
// -----------------------------------------------------------------------------
// @dependencies `_svg-filter`, `_ie-filter`
// -----------------------------------------------------------------------------
// @return [map]

@function _fn-blur(
  $radius
) {
  // CSS filter function
  $css: blur($radius);

  // SVG filter equivalent
  $svg: _svg-filter(blur, $radius: ($radius / 1px));

  // IE static filter
  $ie: _ie-filter(blur, $pixelRadius: ($radius / 1px));

  @return (
    css: $css,
    svg: $svg,
     ie: $ie
  );
}



// @public `blur` filter mixin
// -----------------------------------------------------------------------------
// @spec blur() = blur( <length> )
// -----------------------------------------------------------------------------
// @param [number]: $radius
// -----------------------------------------------------------------------------
// @print [css]

@mixin blur(
  $radius: 0px
) {
  @include check-in-range(blur, 0 10, $radius);

  @include filters((blur: $radius));
}
