
// filter: blur
// ------------


/**
 * `blur` filter function.
 * ---
 * @access private
 * @group filters
 * ---
 * @requires _svg-filter
 * @requires _ie-filter
 * ---
 * @param {Number} $radius
 * ---
 * @return {Map}
 */
@function _fn-blur(
  $radius
) {
  // CSS filter function
  $css: blur($radius);

  // SVG filter equivalent
  $svg: _svg-filter(blur, $radius: ($radius / 1px));

  // IE static filter
  $ie: _ie-filter(blur, $pixelRadius: ($radius / 1px));

  @return (
    css: $css,
    svg: $svg,
     ie: $ie
  );
}


/**
 * `blur` filter mixin.
 * ---
 * @group filters
 * ---
 * @requires {mixin} check-in-range
 * @requires {mixin} filters
 * ---
 * @ignore spec blur() = blur( <length> )
 * ---
 * @param {Number} $radius (0px)
 * ---
 * @output Cross-Browser `blur` filter declarations
 */
@mixin blur(
  $radius: 0px
) {
  @include check-in-range(blur, 0 10, $radius);

  @include filters((blur: $radius));
}
