
//
// filter: blur
//
@mixin blur($radius: 0px) {

  $in-range: check-in-range(blur, 0 10, $radius);

  // Webkit, Blink
  -webkit-filter: blur($radius);

  // Gecko
  filter: svg-filter(blur, $radius: _strip-unit($radius));

  // IE
  @include ie-filter(Blur, $pixelRadius: _strip-unit($radius));
}
