
//
// filter: brightness
// ------------------


// @private `brightness` filter function
// -----------------------------------------------------------------------------
// @param [number]: $value
// -----------------------------------------------------------------------------
// @dependencies `_svg-filter`, `_ie-filter`
// -----------------------------------------------------------------------------
// @return [map]

@function _fn-brightness(
  $value
) {
  // CSS filter function
  $css: brightness($value);

  // SVG filter equivalent
  $svg: _svg-filter(brightness, $amount: $value);

  // IE static filter
  // @todo: needs a behavior
  // progid:DXImageTransform.Microsoft.Light().addAmbient(255, 255, 255, $value)
  // $ie: _ie-filter(light);

  @return (
    css: $css,
    svg: $svg
  );
}


// @public `brightness` filter mixin
// -----------------------------------------------------------------------------
// @spec brightness() = brightness( [ <number> | <percentage> ] )
// -----------------------------------------------------------------------------
// @param [number]: $value
// -----------------------------------------------------------------------------
// @print [css]

@mixin brightness(
  $value: 1
) {
  @include check-in-range(brightness, 0 10, $value);

  @include filters((brightness: $value));
}
