
//
// filter: contrast
//


// @private contrast filter function
// -----------------------------------------------------------------------------
// @param [number]: $value
// -----------------------------------------------------------------------------
// @dependencies `_svg-filter`, `_ie-filter`
// -----------------------------------------------------------------------------
// @return [map]

@function _fn-contrast(
  $value
) {
  // CSS filter function
  $css: contrast($value);

  // SVG filter equivalent
  $svg: _svg-filter(contrast, $slope: $value, $intercept: (-(0.5 * $value) + 0.5));

  // IE static filter
  // @todo: needs a behavior
  // $ie: _ie-filter(light);

  @return (
    css: $css,
    svg: $svg
  );
}



// @public `contrast` filter mixin
// -----------------------------------------------------------------------------
// @spec contrast() = contrast( [ <number> | <percentage> ] )
// -----------------------------------------------------------------------------
// @param [number]: $value
// -----------------------------------------------------------------------------
// @print [css]

@mixin contrast(
  $value: 1
) {
  @include check-in-range(contrast, 0 10, $value);

  @include filters((contrast: (value: $value)));
}
