
// filter: contrast
// ----------------


////
//// @group filters
////


/// `contrast` filter function.
///
/// @access private
///
/// @requires _svg-filter
/// @requires _ie-filter
///
/// @param {Number} $value
///
/// @return {Map}

@function _fn-contrast(
  $value
) {
  // CSS filter function
  $css: contrast($value);

  // SVG filter equivalent
  $svg: _svg-filter(contrast, $slope: $value, $intercept: (-(0.5 * $value) + 0.5));

  // IE static filter
  // @todo: needs a behavior
  // $ie: _ie-filter(light);

  @return (
    css: $css,
    svg: $svg
  );
}


/// `contrast` filter mixin.
///
/// @requires {mixin} check-in-range
/// @requires {mixin} filters
///
/// @ignore spec contrast() = contrast( [ <number> | <percentage> ] )
///
/// @param {Number} $value (1)
///
/// @output Cross-Browser `contrast` filter declarations

@mixin contrast(
  $value: 1
) {
  @include check-in-range(contrast, 0 10, $value);

  @include filters((contrast: $value));
}
