
//
// filter: grayscale
//


// @private `grayscale` filter function
// -----------------------------------------------------------------------------
// @param [number]: $value
// -----------------------------------------------------------------------------
// @dependencies `_svg-filter`, `_ie-filter`
// -----------------------------------------------------------------------------
// @return [map]

@function _fn-grayscale(
  $value
) {
  // CSS filter function
  $css: grayscale($value);

  // SVG filter equivalent
  $matrix:
    (0.2126 + 0.7874 * (1 - $value)), (0.7152 - 0.7152 * (1 - $value)), (0.0722 - 0.0722 * (1 - $value)), 0 0,
    (0.2126 - 0.2126 * (1 - $value)), (0.7152 + 0.2848 * (1 - $value)), (0.0722 - 0.0722 * (1 - $value)), 0 0,
    (0.2126 - 0.2126 * (1 - $value)), (0.7152 - 0.7152 * (1 - $value)), (0.0722 + 0.9278 * (1 - $value)), 0 0,
     0 0 0 1 0;

  $svg: _svg-filter(grayscale, $matrix: _join($matrix, " "));

  // IE static filter
  $ie: _ie-filter(basicImage, $grayscale: 1);

  @return (
    css: $css,
    svg: $svg,
     ie: $ie
  );
}



// @public `grayscale` filter mixin
// -----------------------------------------------------------------------------
// @spec grayscale() = grayscale( [ <number> | <percentage> ] )
// -----------------------------------------------------------------------------
// @param [number]: $value
// -----------------------------------------------------------------------------
// @print [css]

@mixin grayscale(
  $value: 0
) {
  @include check-in-range(grayscale, 0 1, $value);

  @include filters((grayscale: $value));
}
