
// filter: hue-rotate
// ------------------


// `hue-rotate` filter function
// ---
// @access private
// ---
// @requires _svg-filter
// @requires _ie-filter
// ---
// @param {Number} $angle
// ---
// @return {Map}

@function _fn-hue-rotate(
  $angle
) {
  // CSS filter function
  $css: hue-rotate($angle);

  // SVG filter equivalent
  $svg: _svg-filter(hue-rotate, $angle: ($angle / 1deg));

  // IE static filter
  // @todo: needs a behavior
  // $ie: _ie-filter(light);

  @return (
    css: $css,
    svg: $svg
  );
}


// `hue-rotate` filter mixin
// ---
// @ignore spec hue-rotate() = hue-rotate( <angle> )
// ---
// @param {Number} $angle

@mixin hue-rotate(
  $angle: 0deg
) {
  @include check-in-range(hue-rotate, 0 360, $angle);

  @include filters((hue-rotate: $angle));
}
