
//
// filter: hue-rotate
//
@mixin hue-rotate($angle: 0deg) {

  $in-range: check-in-range(hue-rotate, 0 360, $angle);

  // Webkit, Blink
  -webkit-filter: hue-rotate($angle);

  // Gecko
  filter: svg-filter(hue-rotate, $angle: _strip-unit($angle));

  // IE
  // Needs a behavior
  // @include ie-filter(Light);
}
