
// filter: invert
// --------------


/**
 * `invert` filter function
 * ---
 * @access private
 * ---
 * @requires _svg-filter
 * @requires _ie-filter
 * ---
 * @param {Number} $value
 * ---
 * @return {Map}
 */
@function _fn-invert(
  $value
) {
  // CSS filter function
  $css: invert($value);

  // SVG filter equivalent
  $svg: _svg-filter(invert, $values: ($value (1 - $value)));

  // IE static filter
  $ie: _ie-filter(invert, $invert: 1);

  @return (
    css: $css,
    svg: $svg,
     ie: $ie
  );
}


/**
 * `invert` filter mixin
 * ---
 * @requires {mixin} check-in-range
 * @requires {mixin} filters
 * ---
 * @ignore spec invert() = invert( [ <number> | <percentage> ] )
 * ---
 * @param {Number} $value (0)
 */
@mixin invert(
  $value: 0
) {
  @include check-in-range(invert, 0 1, $value);

  @include filters((invert: $value));
}
