
//
// filter: opacity
//
@mixin opacity($value: 1) {

  $in-range: check-in-range(opacity, 0 1, $value);

  // Webkit, Blink
  -webkit-filter: opacity($value);

  // Gecko
  filter: svg-filter(opacity, $amount: $value);

  // IE
  @include ie-filter(BasicImage, $opacity: $value);
}
