
// filter: opacity
// ---------------


// `opacity` filter function
// ---
// @access private
// ---
// @requires _svg-filter
// @requires _ie-filter
// ---
// @param {Number} $value
// ---
// @return {Map}

@function _fn-opacity(
  $value
) {
  // CSS filter function
  $css: opacity($value);

  // SVG filter equivalent
  $svg: _svg-filter(opacity, $amount: $value);

  // IE static filter
  $ie: _ie-filter(BasicImage, $opacity: $value);

  @return (
    css: $css,
    svg: $svg,
     ie: $ie
  );
}


// `opacity` filter mixin
// ---
// @ignore spec opacity() = opacity( [ <number> | <percentage> ] )
// ---
// @param {Number} $value

@mixin opacity(
  $value: 1
) {
  @include check-in-range(opacity, 0 1, $value);

  @include filters((opacity: $value));
}
