
//
// filter: saturate
//
@mixin saturate($value: 1) {

  $in-range: check-in-range(saturate, 0 10, $value);

  // Webkit, Blink
  -webkit-filter: saturate($value);

  // Gecko
  filter: svg-filter(saturate, $values: $value);

  // IE
  // Needs a behavior
  // @include ie-filter(Light);
}
