
// filter: saturate
// ----------------


/**
 * `saturate` filter function.
 * ---
 * @access private
 * @group filters
 * ---
 * @requires _svg-filter
 * @requires _ie-filter
 * ---
 * @param {Number} $value
 * ---
 * @return {Map}
 */
@function _fn-saturate(
  $value
) {
  // CSS filter function
  $css: saturate($value);

  // SVG filter equivalent
  $svg: _svg-filter(saturate, $values: $value);

  // IE static filter
  // @todo: needs a behavior
  // $ie: _ie-filter(light);

  @return (
    css: $css,
    svg: $svg
  );
}


/**
 * `saturate` filter mixin.
 * ---
 * @group filters
 * ---
 * @requires {mixin} check-in-range
 * @requires {mixin} filters
 * ---
 * @ignore spec saturate() = saturate( [ <number> | <percentage> ] )
 * ---
 * @param {Number} $value (1)
 * ---
 * @output Cross-Browser `saturate` filter declarations
 */
@mixin saturate(
  $value: 1
) {
  @include check-in-range(saturate, 0 10, $value);

  @include filters((saturate: $value));
}
