
// SassyFilters: configuration
// ---------------------------


// Default settings.
$filters-defaults: (

  // Encoding of the SVG filters as data URI: raw | escaped | base64.
  data-type: "raw",

  // Whether to add IE proprietary filters or not.
  ie-support: true

);

// User settings.
$filters-settings: () !default;

// Retreive a configuration item.
@function conf($key) {
  @if not map-has-key($filters-defaults, $key) {
    @warn "No item `#{$key}` found in configuration.";
    @return false;
  }

  @return map-get(map-merge($filters-defaults, $filters-settings), $key);
}
