
// SassyFilters: configuration
// ---------------------------


/**
 * Default settings.
 * ---
 * @type Map
 * @group config
 */
$filters-defaults: (

  // Encoding of the SVG filters as data URI: raw | escaped | base64.
  data-type: "raw",

  // Whether to add IE proprietary filters or not.
  ie-support: true

);


/**
 * User settings.
 * Instanciate the same object in your stylesheets to override defaults.
 * ---
 * @type Map
 * @group config
 * ---
 * @example scss Override defaults
 * $filters-settings: (
 *   ie-support: false
 * );
 */
$filters-settings: () !default;


/**
 * Retrieve a configuration item.
 * ---
 * @access private
 * @group config
 * ---
 * @requires {variable} filters-defaults
 * @requires {variable} filters-settings
 * ---
 * @param {String} $key - configuration item key
 * ---
 * @return {*}
 */
@function conf($key) {
  @if not map-has-key($filters-defaults, $key) {
    @warn "No item `#{$key}` found in configuration.";
    @return false;
  }

  @return map-get(map-merge($filters-defaults, $filters-settings), $key);
}
