
// SassyFilters: disable filter
// ----------------------------


/// Helper mixin, disable previously enabled filters.
///
/// @group output
///
/// @requires _ie-filter
/// @requires conf
///
/// @param {String} $function (null) - filter function name

@mixin disable-filter(
  $function: null
) {
  -webkit-filter: none;
      -ms-filter: none;
          filter: none;

  @if conf(ie-support) and $function {
    $ie-filter: _ie-filter($function, $enabled: false);
    -ms-filter: quote($ie-filter);
    filter: unquote($ie-filter);
  }
}
